<section class="sidebar-block">
  <h3>Trainingszeiten</h3>

  <p><strong>Treffpunkt:</strong><br>
     Brüninghausplatz (vor dem alten WK)</p>

  <ul>
    <li>Dienstags & Donnerstags</li>
    <li>Vor- und Nachsommer: 17:30 – 20:00</li>
    <li>Juni - August: 18:30 – 21:00</li>
    <li>Endzeit variiert je nach Streckenlänge</li>
  </ul>
</section>

<section class="sidebar-block">
  <h3>Downloads</h3>
  <p class="sidebar-links">
    <a href="https://www.tusjahnwerdohl.de/files/Satzung_2013.pdf"
       target="_blank" rel="noopener noreferrer">
      Satzung (PDF)
    </a><br>

    <a href="https://www.tusjahnwerdohl.de/files/DSGVO_Aufnahmeantrag-TuS-Jahn-ab-2025.pdf"
       target="_blank" rel="noopener noreferrer">
      Mitgliedsantrag (PDF)
    </a>
  </p>
</section>

<section class="sidebar-block">
  <h3>Du möchtest mitfahren?</h3>
  <ul>
    <li>Melde dich einfach bei</li>
    <li>Tobias Withalm</li>
    <li>0160 8226897</li>
    <li>per Whatsapp oder</li>
    <li>Anruf</li>
  </ul>
</section>